.App {
  height: 100%;
  width: 100%;
  background-color: rgb(220, 235, 248);
}
button:hover{
  transition: 0.5s;
  font-weight: bold;
}
.card1{
  display: flex;
  background: rgb(174,209,238);
background: radial-gradient(circle, rgba(174,209,238,1) 0%, rgba(175,148,233,0.8539915966386554) 89%);
  gap:3rem;
  /* text-decoration: ; */

}
.card2:hover{
  cursor: pointer;
  font-size: medium;
}

.footer {
  position: absolute;
  /* bottom: -50px; */
  /* margin-bottom: 100%; */
  width: 100%;
  height: 100px;
  background-color: rgb(239, 241, 242);
  text-align: center;
  color: white;
  padding-top: 1rem;
}
.footer span{
  text-align: center;
  align-items: center;

}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
